*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: blueviolet; */
    font-family: 'Poppins';
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: turquoise;

}
.one{
    display: flex;
}
.one span{
    margin-top: 20px;
    border: 3px solid black;
    padding: 15px;
}
.one p{
    margin-top: 20px;
    border: 3px solid black;
    padding: 15px;
}
.two{
    margin-top: 40px;
}
.two a{
    /* margin-top: 120px; */
    border: 3px solid black;
    padding: 15px;
    color: black;
    text-decoration: none;
    background-color: rgb(234, 232, 232);
    
}
hr{
    /* margin-top: 15px; */
}

.grid-container{
    display: grid;
    /* grid-template-rows: repeat(4fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 50%;
    background-color: gold;
    justify-content: space-around;
}
.grid-container button{
    /* background-color: springgreen; */
    width: 70px;
    height: 20px;
    justify-content: space-around;

    /* border-radius: 50%; */
}