*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: blueviolet; */
    font-family: 'Poppins';
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: turquoise;
}
.one{
    display: flex;
}
.one span{
    margin-top: 20px;
    border: 3px solid black;
    padding: 15px;
}
.one p{
    margin-top: 20px;
    border: 3px solid black;
    padding: 15px;
}
.two{
    margin-top: 40px;
}
.two a{
    /* margin-top: 120px; */
    border: 3px solid black;
    padding: 15px;
    color: black;
    text-decoration: none;
    background-color: rgb(234, 232, 232);
    
}
hr{
    margin-top: 15px;
}
section{
    background-color: darkgoldenrod;
    width: 100vw;
    height: 100vh
}
/* grid-template-columns:repeat(auto-fit, minmax(5rem, 5rem));
grid-template-rows:repeat(minmax(5rem, 5rem)); */