@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
header{
    width: 100%;
    height: 80px;
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    position: sticky;
    top: 0;
}
.left{
    width: 200px;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.lives,.chances{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    cursor: pointer;


}
article{
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
}
article p{
    text-align: center;
}
h1{
    text-align: center;
   
}
.update{
    background-color: ghostwhite;
    font-weight: 600;
    padding: 1em;
    cursor: pointer;
    color: black;
    border-radius: 60%;
}
#button-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 5rem));
    grid-auto-rows: minmax(5rem, 5rem);
    justify-content: center;
    outline: none;
    gap: 9px;
    margin: 5px;
    text-align: center;
}
button{
    border-radius: 50%;
    /* box-shadow: 21px 1px 4px solid gold; */
    /* box-shadow: 3px solid violet; */
    cursor: pointer;
    border: none;
    background-color: rgb(50, 49, 46);
    color: white;
    font-size: large;
}

#start-button{
    background-color: white;
    width: 80px;
    border-radius: 10%;
    color: black;

}